.button_wrapper {
  margin-top: 30px;
  display: flex;
}

.button {
  cursor: pointer;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px;
}

.button.button_black {
  background-color: #000;
  color: #fff;
}

.ball_wrapper {
  display: flex;
}

.ball_js,
.ball_css {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20vh;
  background-color: #fff;
  width: 200px;
  height: 200px;
  font-weight: bold;
}

.ball_css {
  animation: bouncing 1000ms infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;
}

@keyframes bouncing {
  from {
    transform: translateY(-1000px) scaleY(2.5) scaleX(.2);
    transform-origin: 50% 0;
    filter: blur(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

.slider {
  width: 100%;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vw);
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: scroll;
}
.slider section {
  display: flex;
  border-right: 1px solid white;
  padding: 1rem;
  min-width: 100%;
  height: 300px;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}

.slider section:nth-child(1) {
  background-color: #03DAC6;
}

.slider section:nth-child(2) {
  background-color: #6200EE;
}

.slider section:nth-child(3) {
  background-color: #B00020;
}

.slider section:nth-child(4) {
  background-color: #FFDE30;
}

.slider section:nth-child(5) {
  background-color: #FF0266;
}

.slider h1  {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  width: 100%;
  left: 0;
  margin: 0;
  font-size: calc(1rem + 3vw);
}

.totalItem {
  margin-top: 40px;
  text-decoration: underline;
  color: #fff;
}

.item {
  background: #fff;
  border: 1px solid #666;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sentinel {
  width: 1px;
  height: 1px;
}

#scroller {
  height: 400px;
  overflow-y: scroll;
}

.flexbox_wrapper {
  display: flex;
}
.flexbox_wrapper > div {
  font-size: 4vh;
  color: white;
  background: gray;
  margin: .1em;
  padding: .1em;
  border-radius: 3px;
  flex: 1;
}

.grid_wrapper_wrapper {
  display: flex;
  justify-content: center;
}

.grid_wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: [main-1] 150px [main-2] 100px [main-3] 150px [main-4] 100px [main-5] ;
  grid-template-rows: repeat(3,minmax(100px,auto));
  background-color: #fff;
  color: #444;
}

.grid_wrapper .box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.grid_wrapper .box .box {
  background-color: #ccc;
  color: #444;
}

.grid_wrapper .a {
  grid-column: main-1 / main-3;
}

.grid_wrapper .b {
  grid-column: main-4 ;
}

.grid_wrapper .c {
  grid-column: main-1;
  grid-row: 2 / 4;
}

.grid_wrapper .d{
  gap: 10px;
  grid-column: main-2 / main-5;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: subgrid [sub-1] [sub-2] [sub-3] [sub-4];
  grid-template-rows: subgrid;
}

.grid_wrapper .e {
  grid-row: 1 / 3;
  grid-column: sub-1 ;
}

.grid_wrapper .f {
  grid-row: 1;
  grid-column: sub-2 / main-5;
}

.grid_wrapper .g {
  grid-row: 2;
    grid-column: main-4;
}

.font_wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.font {
  flex: 1;
}

.font_inner {
  font-size: 50px;
  height: 200px;
  border: 2px dashed #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
}

.font_title {
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}

.font_inner .font_inner_em {
  font-size: 0.5em;
  margin-top: 10px;
}

.font_inner .font_inner_rem {
  font-size: 0.5rem;
  margin-top: 10px;
}

.font_inner .font_inner_perc {
  font-size: 50%;
  margin-top: 10px;
}

.font_inner .font_inner_vw{
  font-size: 2vw;
  margin-top: 10px;
}

.font_inner .font_inner_ref {
  color: #03A9FC;
}

.online_offline {
  display: flex;
  justify-content: center;
}

.online_offline span {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  color: #fff;
}

.online_offline .online {
  background-color: #4CAF50
}

.online_offline .offline {
  background-color: #B00020;
}

.lifecycle {
  margin-bottom: 90px;
}

.lifecycle > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lifecycle span {
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.lifecycle .hidden {
  color: #B00020;
}

.lifecycle .visible {
  color: #fff;
}

.iframe_wrapper {
  width: 100%;
  height: 900px;
  margin: 0 auto;
}

.iframe_wrapper iframe {
  width: 100% !important;
  height: 100% !important;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  margin-left: 200px;
  border: none;
}

.link {
  color: #000;
  text-decoration: underline;
}

.link_white {
  color: #fff;
  text-decoration: underline;
}